body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	color: #222;
}

section, header {
	width: 300px;
	margin: auto;
}

form {
	display: flex;
	width:100%;
}

input {
	z-index: 1;
	width: 100%;
	padding: 4px;
	border: 1px solid #333;
	font-size: 16px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 0px #ccc;
	font-family: inherit;
	transition: 0.3s;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 10px 0px #444;
}

ul#search-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	overflow: hidden;
	position: relative;
}

ul#search-list:before {
	content:'';
	text-align: right;
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(90deg, rgba(255,255,255,0.001), white);
}

#search-list li {
	font-size: 0.8em;
	margin: 0.3em;
	white-space: nowrap;
}

#search-list a {
	padding: 0.3em;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.weather-wrapper {
	whidth: 100%;
	border: 1px solid #333;
	font-size: 16px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 0px #ccc;
	display: flex;
	flex-wrap: wrap;
}

.weather-wrapper-city {
	width: 60%;
	border-bottom: 1px solid #333;
	line-height: 3em;
	margin: 0;
	box-sizing: border-box;
}

.weather-wrapper-temp {
	width: 40%;
  line-height: 2.5em;
  font-size: 1.8em;
}

.weather-wrapper-list {
	width: 60%;
	list-style: none;
	box-sizing: border-box;
	padding: 0.4em;
	margin: 0;
	text-align: left;
	font-size: 0.9em;
}

.weather-wrapper-image {
	width: 40%;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	padding: 0;
	margin: 0;
	text-align: center;
}

.weather-wrapper-image img {
	display: inline-block;
}
