body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	color: #222;
	border: 1px solid transparent;
	box-sizing: border-box;
}

section, header {
	width: 300px;
	margin: auto;
}

form {
	display: flex;
	width:100%;
}

input {
	z-index: 1;
	width: 100%;
	padding: 4px;
	border: 1px solid #333;
	font-size: 16px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 0px #ccc;
	font-family: inherit;
	transition: 0.3s;
	text-align: center;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 10px 0px #444;
}

input::-webkit-input-placeholder {
	color: #999;
	font-size: 0.7rem;
	text-align: center;
}

ul#search-list {
	height: 1.5rem;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	overflow: hidden;
	position: relative;
}

ul#search-list:before {
	content: '';
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	background: linear-gradient(90deg, rgba(255,255,255,0.001), 30%, white);
}

#search-list li {
	font-size: 0.8rem;
	margin: 0.3rem;
	white-space: nowrap;
}

#search-list a {
	padding: 0.3rem;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

menu {
	width: 300px;
	margin: auto;
	padding: 0;
	display: flex;
	background-color: white;
	border: 1px solid #222;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
}

#favourite-list {
	height: 1.5rem;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: stretch; /**/
	overflow: hidden;
	position: relative;
}

#favourite-list span {
	width: 100%;
	color: #999;
	font-size: 0.7rem;
	line-height: 1.5rem;
	text-align: center;	
	white-space: nowrap;
}

#favourite-list a {
	font-size: 0.8rem;
	line-height: 1.5rem;
	white-space: nowrap;
	flex-grow: 1;
	border-right: 1px solid #333;
	transition: 0.2s;
	position: relative;
}

#favourite-list a:last-child {
	border-right: none;
}

.weather-wrapper {
	min-height: 170px;
	border: 1px solid #333;
	font-size: 16px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0px 0px 10px 0px #ccc;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

#add-button {
	position: absolute;
	left: 0px;
	top: 0;
	width: 1rem;
	line-height: 1rem;
	display: block;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom-right-radius: 6px;
	transition: 0.2s;
	cursor: pointer;
}

#add-button:hover, #swap-units-button:hover, #favourite-list a:hover {
	text-decoration: none;
	box-shadow: inset 0px 0px 8px 0px #aaa;
}

#swap-units-button {
	position: absolute;
	right: 0px;
	bottom: 0;
	padding: 0 0.2rem;
	line-height: 1rem;
	display: block;
	color: #999;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-top-left-radius: 6px;
	transition: 0.2s;
	cursor: pointer;
}

.weather-wrapper-city {
	width: 60%;
	height: 4rem;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	line-height: 4rem;
	margin: 0;
}

.weather-wrapper-icon {
	width: 40%;
	height: 4rem;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	text-align: center;
	font-size: 2rem;
	line-height: 4rem;
}

.weather-wrapper-temp {
	width: 40%;
	height: 6rem;
	box-sizing: border-box;
	line-height: 5.6rem;
	font-size: 2rem;
}

.weather-wrapper-list {
	width: 60%;
	height: 6rem;
	box-sizing: border-box;
	list-style: none;
	padding: 0.4rem;
	margin: 0;
	text-align: left;
	font-size: 0.9rem;
}

.weather-wrapper-list span {
	font-size: 1.1em;
}

.button-wrapper {
	margin-top: 0.8rem;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 6px;
}

.button-wrapper a {
	padding: 0.2rem;
	margin: 0;
	display: block;
	width: 50%;
	font-size: 0.9rem;
	white-space: nowrap;
	cursor: pointer;
	transition: 0.2s;
}

.button-wrapper a:hover {
	text-decoration: none;
	box-shadow: inset 0px 0px 8px 0px #aaa;
}

#clear-history {
	border-right: 1px solid #333;
}
