.search__container {
	width: 100%;
	margin: auto;
	position: relative;
}

.search__input {
	z-index: 1;
	width: 100%;
	padding: 4px;
	border: 1px solid #333;
	font-size: 16px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 0px #ccc;
	font-family: inherit;
	transition: 0.3s;
	text-align: center;
}

.search__input:focus {
	outline: none;
	box-shadow: 0px 0px 10px 0px #444;
}

.search__input::-webkit-input-placeholder {
	color: #999;
	font-size: 0.7rem;
	text-align: center;
}

[data-is-valid="false"] {
	background-color: #ffd3d3;
}

.search__button {
	position: absolute;
	font-size: 0.7rem;
	right: -1.6rem;
	top: 0.1rem;
}
