@import 'reset';
@import '~weather-icons-sass/css/weather-icons.css';

html {
	box-sizing: border-box;
	min-width: 320px;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #222;
}

section, header {
	width: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

// .header__heading {
// 	font-size: 2rem;
// 	font-weight: bold;
// 	margin: 2rem 0;
// }

// .search {
// 	display: flex;
// 	width:100%;
// }

// .search__input {
// 	z-index: 1;
// 	width: 100%;
// 	padding: 4px;
// 	border: 1px solid #333;
// 	font-size: 16px;
// 	border-radius: 6px;
// 	box-shadow: 0px 0px 10px 0px #ccc;
// 	font-family: inherit;
// 	transition: 0.3s;
// 	text-align: center;
// }

// .search__input:focus {
// 	outline: none;
// 	box-shadow: 0px 0px 10px 0px #444;
// }

// .search__input::-webkit-input-placeholder {
// 	color: #999;
// 	font-size: 0.7rem;
// 	text-align: center;
// }

// .history {
// 	height: 1.5rem;
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	display: flex;
// 	overflow: hidden;
// 	position: relative;
// 	&::before {
// 		content: '';
// 		width: 10%;
// 		height: 100%;
// 		position: absolute;
// 		right: 0;
// 		top: 0;
// 		cursor: pointer;
// 		pointer-events: none;
// 		background: linear-gradient(90deg, rgba(255,255,255,0.001), 30%, white);
// 	}
// }

// .history__city {
// 	font-size: 0.8rem;
// 	margin: 0.3rem;
// 	white-space: nowrap;
// }

// .history__city > a {
// 	padding: 0.3rem;
// 	cursor: pointer;
// 	line-height: 1.2em;
// 	&:hover {
// 		text-decoration: underline;
// 	}
// }

// .favorites {
// 	width: 100%;
// 	height: 1.5rem;
// 	list-style: none;
// 	align-items: stretch; /**/
// 	position: relative;
// 	display: flex;
// 	background-color: white;
// 	border: 1px solid #222;
// 	border-bottom: none;
// 	border-top-left-radius: 6px;
// 	border-top-right-radius: 6px;
// 	overflow: hidden;
// 	&::before {
// 		content: 'click + to add the city to your favorites';
// 		width: 100%;
// 		color: #999;
// 		font-size: 0.7rem;
// 		line-height: 1.5rem;
// 		text-align: center;
// 		white-space: nowrap;
// 		position: absolute;
// 	}
// }

// .favorites__city {
// 	font-size: 0.8rem;
// 	line-height: 1.5rem;
// 	white-space: nowrap;
// 	flex-grow: 1;
// 	border-right: 1px solid #333;
// 	transition: 0.2s;
// 	position: relative;
// 	background: white;
// 	&:last-child {
// 		border-right: none;
// 	}
// }

// .favorites__city > a {
// 	display: block;
// 	transition: 0.2s;
// 	cursor: pointer;
// 	&:hover {
// 		text-decoration: none;
// 	}
// }

// .weather-wrapper {
// 	border: 1px solid #333;
// 	border-bottom-left-radius: 6px;
// 	border-bottom-right-radius: 6px;
// 	box-shadow: 0px 0px 10px 0px #ccc;
// 	position: relative;
// }

.button:hover {
	box-shadow: inset 0px 0px 8px 0px #aaa;
}

.weather-wrapper__button-add {
	position: absolute;
	left: 0px;
	top: 0;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom-right-radius: 6px;
	transition: 0.2s;
	cursor: pointer;
}

.weather-wrapper__button-units {
	background-color: white;
	// width: 1rem;
	height: 1rem;
	position: absolute;
	right: 0px;
	bottom: 0;
	padding: 0 0.2rem;
	line-height: 1rem;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-radius: 6px 0 6px 0;
	transition: 0.2s;
	cursor: pointer;
}

// .weather {
// 	width: 100%;
// 	display: flex;
// }

// .weather__city,
// .weather__icon,
// .weather__temp {
// 	line-height: 4rem;
// 	flex-grow: 1;
// }

// .weather__city {
// 	font-size: 1.5rem;
// 	font-weight: bold;
// 	margin: 0;
// }

// .weather__icon {
// 	text-align: center;
// 	font-size: 2rem;
// }

// .weather__temp {
// 	font-size: 2rem;
// }

.forecast {
	width: 100%;
	height: 5rem;
	list-style: none;
	margin: 0;
	text-align: left;
	font-size: 0.9rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	transition: max-height 0.4s ease 0s;
}

.forecast__three-hour {
	text-align: center;
	flex-grow: 1;
}

/* #clear-history and c#lear-favourites buttons*/
.button-wrapper {
	margin-top: 0.8rem;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	border: 1px solid #333;
	border-radius: 6px;
}

.button-wrapper__button {
	padding: 0.2rem;
	width: 50%;
	font-size: 0.9rem;
	white-space: nowrap;
	cursor: pointer;
	transition: 0.2s;
	line-height: 1.2em;
	&:first-child {
		border-right: 1px solid #333;
	}
}


