@import 'reset';
@import '~weather-icons-sass/css/weather-icons.css';

html {
	box-sizing: border-box;
	min-width: 320px;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #222;
}

.button {
	height: 1.5rem;
	min-width: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	cursor: pointer;
	border-radius: 6px;
	transition: 0.3s;
	&:hover {
		box-shadow: inset 0px 0px 8px 0px #aaa;
	}
}
