@import 'reset';
@import '~weather-icons-sass/css/weather-icons.css';

html {
	box-sizing: border-box;
	min-width: 320px;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #222;
}

section, header {
	width: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.button {
	// border: 1px solid #333;
	&:hover {
		box-shadow: inset 0px 0px 8px 0px #aaa;
	}
}
